<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to GOKU NGRX</h1>
</div>

<div id='container'>

  <div class='character'>
    <img [src]="goku" />

    <div id='controls'>
      <button type='button' (click)='increasePowerLevel("goku")'>Increase Power Level</button>
      <button type='button' (click)='decreasePowerLevel("goku")'>Decrease Power Level</button>
    </div>
  </div>

  <div class='character'>
    <img [src]="gohan" />

    <div id='controls'>
      <button type='button' (click)='increasePowerLevel("gohan")'>Increase Power Level</button>
      <button type='button' (click)='decreasePowerLevel("gohan")'>Decrease Power Level</button>
    </div>
  </div>

  <div class='character'>
    <img [src]="vegetta" />

    <div id='controls'>
      <button type='button' (click)='increasePowerLevel("vegetta")'>Increase Power Level</button>
      <button type='button' (click)='decreasePowerLevel("vegetta")'>Decrease Power Level</button>
    </div>
  </div>

</div>




<router-outlet></router-outlet>
